<!-- begin section-contact -->
<div class="section-contact">
  <div class="container">
    <div class="section-contact__inner">
      <div class="section-contact__bg">
        {{ mixins.lazyImage({
          src: 'img/landing-4/contact-bg.svg'
        }) }}
      </div>
      <div class="section-contact__content">
         <h2 class="h3 section-contact__title">Try xPider for 14 days, for free!</h2>
        <div class="section-contact__desc">
          <p>Millions of people around the world have already made xPider the place where their works happens.</p>
        </div>
        <div class="section-contact__form">
          <div class="contact-form">
            <form action="/">
              <div class="contact-form__inner">
                <input
                  required
                  type="email"
                  placeholder="Enter your email to start"
                  class="contact-form__input"
                />
                <button class="contact-form__btn">Get started</button>
              </div>
            </form>
            <div class="contact-form__text">No credit card required.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end section-contact -->
