{%
  set links = [
    {
      text: 'Features'
    },
    {
      text: 'Pricing'
    },
    {
      text: 'Pages',
      subLinks: ['Page 1', 'Page 2', 'Page 3']
    },
    {
      text: 'Get started now',
      isBtn: true
    }
  ]
%}

<!-- begin header -->
<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="#" class="header__logo">
        <img src="img/landing-4/logo.svg" alt="" />
      </a>

       <div class="menu header__menu js-menu">
        <div class="menu__inner">
          <div class="menu__content">
            <ul class="menu__list">
              {% for link in links %}
              <li class="menu__item">
                {% if link.subLinks %}
                <div class="dropdown js-dropdown">
                  <button type="button" class="dropdown__btn js-dropdown-btn">{{ link.text }}</button>
                  <div class="dropdown__wrapper">
                    <div class="dropdown__holder">
                      <div class="dropdown__links">
                        {% for sublink in link.subLinks %}
                        <a href="#" class="dropdown__link js-dropdown-link">{{ sublink }}</a>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
                {% else %}
                <a href="#" class="menu__link{% if link.isBtn %} menu__link_btn{% endif %}">{{ link.text }}</a>
                {%  endif %}
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <button class="burger header__burger js-menu-btn" type="button">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

  </div>
</header>
<!-- end header -->
