{%
  set links = [
    {
      icon: 'img/landing-4/archery-target.svg',
      text: 'get started'
    },
    {
      icon: 'img/landing-4/bill.svg',
      text: 'check price'
    },
    {
      icon: 'img/landing-4/button-circle-play.svg',
      text: 'watch video'
    }
  ]
%}

<!-- begin hero -->
<section class="hero">
  <div class="hero__bg">
    <img
      src="img/landing-4/hero.jpg"
      srcset="img/landing-4/hero-2x.jpg"
      alt=""
    />
  </div>
  <div class="container hero__container">
    <h1 class="h1 hero__title">xPider is coming to make your successful with business.</h1>
    <div class="hero__desc">
      <p>When you need a kickstart in your business and you have no time for coding for your website,<br/>xPider will take that job for you and will build a great looking website in minutes.</p>
    </div>

    <div class="hero__links">
      {% for link in links %}
      <a href="#" class="square-link">
        <div class="square-link__icon">
          <img src="{{ link.icon }}" alt="" />
        </div>
        <div class="square-link__text">{{ link.text }}</div>
      </a>
      {% endfor %}
    </div>
  </div>
</section>
<!-- end hero -->
