<!-- begin section-testimonials -->
<div class="section-testimonials">
  <div class="container">
    <div class="section-testimonials__inner">
      <h2 class="h2 section-testimonials__title">5,000+ Teams trust xPider</h2>
      <h3 class="h3 section-testimonials__subtitle">People love xPider.<br/>See some of the stories.</h3>

      <div class="section-testimonials__slider">
        <div class="testimonials-slider js-testimonials-slider">
          <div class="swiper-container testimonials-slider__texts js-testimonials-slides">
            <div class="swiper-wrapper">
             {% for i in range(0, 3) %}
              <div class="swiper-slide">
                <div class="testimonial">
                  <blockquote class="testimonial__quote">
                    <p>“Life before xPider was very chaotic — we got a lot of phone calls, a lot of mistyped orders. So with Company, the ability to see the order directly from the customer makes it so streamlined.”</p>
                  </blockquote>
                  <div class="testimonial__author">Frank Hardy</div>
                  <div class="testimonial__position">Creative Director</div>
                  <div class="testimonial__logo">
                    {{ mixins.lazyImage({
                      src: 'img/landing-4/airbnb.png',
                      srcset: 'img/landing-4/airbnb-2x.png 2x'
                    }) }}
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="swiper-container testimonials-slider__imgs js-testimonials-imgs">
            <div class="swiper-wrapper">
              {% for i in range(0, 3) %}
              <div class="swiper-slide testimonials-slider__img">
                {{ mixins.lazyImage({
                    src: 'img/landing-4/client.jpg',
                    srcset: 'img/landing-4/client-2x.jpg 2x'
                  }) }}
              </div>
              {% endfor %}
            </div>

            <div class="testimonials-slider__imgs-nav js-testimonials-nav"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end section-testimonials -->
