<!-- section-video -->
<section class="section-video">
  <div class="container">
    <div class="section-video__inner">
      <div class="section-video__left">
        <h2 class="h2 section-video__title">Manage your team</h2>
        <h3 class="h3 section-video__subtitle">xPider helps you to manage your team remotely!</h3>
        <div class="section-video__desc">
          <p>Silent sir say desire fat him letter. Whatever settling goodness too and honoured she building answered her. Strongly thoughts remember mr to do consider debating. Spirits musical behaved on we he farther letters.</p>
        </div>
        <div class="section-video__more-link">
          <a href="#" class="link-more"><span>Find out more</span>{{ mixins.icon('arrow-right') }}</a>
        </div>
      </div>

      <div class="section-video__right">
        <button type="button" class="video js-video-btn">
          <span class="video__img">
            {{ mixins.lazyImage({
                src: 'img/landing-4/video.jpg',
                srcset: 'img/landing-4/video-2x.jpg 2x'
              }) }}
          </span>
          <div class="video__btn">
            {{ mixins.icon('triangle-right') }}
          </div>
        </button>
      </div>
    </div>
  </div>
</section>
<!-- section-video -->
