$primary: #C774EE
$darkBlue: #111563
$blue: #286DBD
$grey: #63718E
$lightGrey: #7E8183
$black: #3A3A3A
$blackAlt: #1C1E1F
$bg:  #F9FAFC
$primaryLight: #FEE5FF
$blueLight: #E8F8FF
$greenLight: #BAD9E7
$white: #fff

$shadowPrimary: 0px 5px 10px rgba(76, 174, 80, 0.3)
$shadowSecondary: 0px 2px 16px rgba(32, 108, 164, 0.16)

$headerHeight: 70px
$headerHeightMd: 88px
