{%

  set block = {
    mods: 'text-image_primary',
    primary: true,
    text: {
      title: 'At vero eos et accusamus et iusto odio dignissimos ducimus',
      text: '
      <p>Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
      <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non recusandae.</p>
      ',
      btn: 'Try for free'
    },
    img: {
      img: {
        desk: 'img/imac-2x.png',
        mob: 'img/imac.png'
      },
      bg: 'img/bgs/bg-1.svg'
    }
  }

%}

{% include "partials/_text-image.html" %}
