{%

  set block = {
    mods: 'text-image_reversed-notice',
    text: {
      title: 'Temporibus autem quibusdam et aut officiis debitis',
      text: '
      <p>At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
      ',
      btn: 'Try for free'
    },
    img: {
      img: {
        desk: 'img/watch-2x.png',
        mob: 'img/watch.png'
      },
      bg: 'img/bgs/bg-2.svg',
      card: {
        text: 'Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus, omnis voluptas assumenda est.'
      }
    }
  }

%}

{% include "partials/_text-image.html" %}
