{%
  set steps = [
    {
      title: 'Sed ut perspiciatis',
      tabs: [
        {
          title: 'Nemo enim',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        },
        {
          title: 'Die ipsam voluptatem',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        },
        {
          title: 'Ut enim ad minima',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        },
        {
          title: 'Quis autem vel',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        },
        {
          title: 'Sed ut perspiciatis',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        }
      ]
    },
    {
      title: 'Sed ut perspiciatis',
      tabs: [
        {
          title: 'Nemo enim',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        },
        {
          title: 'Die ipsam voluptatem',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        },
        {
          title: 'Ut enim ad minima',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        },
        {
          title: 'Quis autem vel',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        },
        {
          title: 'Sed ut perspiciatis',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        }
      ]
    },
    {
      title: 'Sed ut perspiciatis',
      tabs: [
        {
          title: 'Nemo enim',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        },
        {
          title: 'Die ipsam voluptatem',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        },
        {
          title: 'Ut enim ad minima',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        },
        {
          title: 'Quis autem vel',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        },
        {
          title: 'Sed ut perspiciatis',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        }
      ]
    },
    {
      title: 'Sed ut perspiciatis',
      tabs: [
        {
          title: 'Nemo enim',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        },
        {
          title: 'Die ipsam voluptatem',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        },
        {
          title: 'Ut enim ad minima',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        },
        {
          title: 'Quis autem vel',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        },
        {
          title: 'Sed ut perspiciatis',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        }
      ]
    }

  ]
%}

<!-- begin section-steps -->
<section class="section-steps">
  <div class="container">
    <div class="section-steps__inner">
      <h2 class="h2 section-steps__title">How it works</h2>
      <h3 class="section-steps__subtitle">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h3>
      <div class="slider-steps">
        <div class="slider-steps__progress">
          {% for i in range(0, steps.length) %}
          <div class="slider-steps__point">
            <div class="slider-steps__num">{{ i + 1 }}</div>
            <div class="slider-steps__text">Step {{ i + 1 }}</div>
          </div>
          {% endfor %}
        </div>

        <div class="swiper-container slider-steps__slider">
          <div class="swiper-wrapper slider-steps__wrapper">
            {% for i in range(0, steps.length) %}
            <div class="swiper-slide steps-slide slider-steps__slide">
              <h4 class="steps-slide__title">Step {{ i + 1 }}</h4>
              <h5 class="steps-slide__subtitle">{{ steps[i].title }}</h5>
              <div class="steps-slide__tabs js-tabs">
                <div class="steps-slide__tablinks">
                {% for tab in steps[i].tabs %}
                  <a href="#" class="steps-slide__tablink">{{ tab.title }}</a>
                {% endfor %}
                </div>
                <div class="steps-slide__tabcontents">
                  {% for tab in steps[i].tabs %}
                  <div class="steps-slide__tabcontent">{{ tab.content | safe }}</div>
                  {% endfor %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section-steps -->
