

<!-- begin section-reviews -->
<section class="section-reviews">
  <div class="container">
    <div class="section-reviews__inner">
      <h2 class="h2 section-reviews__title">Reviews</h2>
      <h3 class="section-reviews__subtitle">Nam libero tempore, cum soluta nobis est</h3>
      <div class="slider-reviews section-reviews__slider js-reviews-slider">

        <div class="swiper-container slider-reviews__inner js-reviews-slider-el">
          <div class="swiper-wrapper slider-reviews__wrapper">
            {% for i in range(0, 4) %}
            <div class="swiper-slide slider-reviews__slide">
              <div class="testimonial">
                <div class="testimonial__top">
                  <div class="testimonial__header">
                    <div class="testimonial__quote">
                      {{ mixins.icon('quote') }}
                    </div>
                    <div class="testimonial__rating">
                      {{ mixins.rating({
                        mods: 'rating_simple',
                        score: 5.0,
                        scoreText: '5.0'
                      }) }}

                    </div>
                  </div>

                  <blockquote class="testimonial__text">
                    <p>Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam.</p>
                  </blockquote>
                </div>
                <div class="testimonial__bottom">
                  <div class="testimonial__author">
                    <div class="testimonial__author-logo">{{ mixins.icon('user') }}</div>
                    <div class="testimonial__author-text">ID: 21015</div>
                  </div>
                  <div class="testimonial__category">Category|Subcategory</div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>

          <div class="slider-reviews__nav js-reviews-slider-nav"></div>
        </div>

        <div class="slider-reviews__btn">
          <a href="#" class="link">Read more</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section-reviews -->
