{%

  set block = {
    mods: 'text-image_with-slider',
    text: {
      title: 'Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit',
      text: '
        <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</p>
      '
    },
    img: {
      slides: [
        {
          title: 'Temporibus autem',
          img: {
            desk: 'img/card-reader-2x.png',
            mob: 'img/card-reader.png'
          },
          bg: 'img/bgs/bg-3.svg',
          text: '<p>At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa,</p>'
        },
        {
          title: 'Nam libero',
          img: {
            desk: 'img/folder-2x.png',
            mob: 'img/folder.png'
          },
          bg: 'img/bgs/bg-3.svg',
          text: '<p>At vero eos et accusamus et iusto odio dignissimos ducimus,</p>'
        },
        {
          title: 'Et harum',
          img: {
            desk: 'img/headphones-2x.png',
            mob: 'img/headphones.png'
          },
          bg: 'img/bgs/bg-3.svg',
          text: '<p>At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa,</p>'
        }
      ]
    }
  }

%}

{% include "partials/_text-image.html" %}
