{%
  set footerLinks = ['About', 'Blog', 'Product', 'How it works', 'FAQ', 'Clients', 'Contact', 'Reviews']
%}
{%
  set socials = ['img/footer/facebook.svg', 'img/footer/instagram.svg', 'img/footer/youtube.svg', 'img/footer/pinterest.svg']
%}

<!-- begin footer -->
<footer class="footer">
  <div class="container">
    <div class="footer__inner">

      <div class="footer__col">
        <ul class="footer__links">
          {% for link in footerLinks  %}
          <li class="footer__link-item">
            <a href="#" class="footer__link">{{ link }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>


      <div class="footer__col">
        <div class="footer__link">
          <a href="tel:+4962153399112">+49(621) <strong>53399112</strong></a>
        </div>
        <div class="footer__link">
          Call us!
        </div>

        <div class="footer__rating">
          <div class="rating">
             <ul class="rating__stars">
              {% for i in range(0, 5) %}
              <li class="rating__item">
                <div class="rating__star">
                  <div class="rating__star-bg">
                     {{ mixins.icon('star') }}
                  </div>
                  <div
                    class="rating__star-score"
                    {% if i === 4 %}
                    style="width: 8px"
                    {% endif %}
                  >
                    {{ mixins.icon('star') }}
                  </div>
                </div>


              </li>
              {% endfor %}
            </ul>
            <div class="rating__total">4,5<span>/</span>5</div>
          </div>

        </div>

        <div class="footer__info">
          {{ mixins.dropdown({
            placeholder: 'Info',
            links: ['Geld-Zurück-Garantie', 'Datenschutzerklärung', 'Revisionen', 'Rabattpolitik']
          }) }}
        </div>
      </div>


      <div class="footer__col">
          <div class="footer__icon-row">
            {% for social in socials %}
            <a href="#" class="footer__icon">
              <img src="{{ social }}" alt="" />
            </a>
            {% endfor %}
          </div>
          <div class="footer__icon-row">
            <span class="footer__icon">
              <img src="img/footer/visa.svg" alt="" />
            </span>
            <span class="footer__icon">
              <img src="img/footer/mastercard.svg" alt="" />
            </span>
          </div>
          <div class="footer__icon-row">
            <span class="footer__icon">
              <img src="img/footer/security.svg" alt="" />
            </span>
          </div>
      </div>
    </div>
    <div class="footer__copyright">&copy; Copyright 2016-2020</div>
  </div>
</footer>
<!-- end footer -->
