{% macro icon(i) %}
<svg class="icon icon-{{i}}"><use xlink:href="img/sprite.svg#icon-{{i}}"></use></svg>
{% endmacro %}

{% macro select(obj) %}
<div class="select js-select">
  <select name="{{ obj.name }}">
    <option value="" selected disabled>{{ obj.placeholder }}</option>
    {% for option in obj.options %}
    <option value="{{ option.value }}">{{ option.text }}</option>
    {% endfor %}
  </select>
</div>
{% endmacro %}

{% macro counter(obj) %}
<div class="field-counter js-field-counter">
  <button
    type="button"
    class="field-counter__btn field-counter__btn_dec js-field-counter-dec"
  ></button>
  <input
    type="number"
    class="field-counter__input js-field-counter-input"
    name="{{ obj.name }}"
    min="{{ obj.min }}"
    max="{{ obj.max }}"
    value="{{ obj.value }}"
  />
   <button
    type="button"
    class="field-counter__btn field-counter__btn_inc js-field-counter-inc"
  ></button>
</div>

{% endmacro %}

{% macro calendar(obj) %}
<div class="field-calendar js-datepicker">
  <div class="field-calendar__icon">{{ icon('calendar') }}</div>
  <div class="field-calendar__input">
    <input
      name="{{ obj.name }}"
      type="text"
    />
  </div>
</div>

{% endmacro %}


{% macro dropdown(obj) %}
<div class="dropdown js-dropdown">
  <button type="button" class="dropdown__button js-dropdown-btn">{{ obj.placeholder }}{{ icon('chevron-up') }}</button>
  <ul class="dropdown__list  js-dropdown-links">
    {% for link in obj.links %}
    <li class="dropdown__item">
      <a href="#" class="dropdown__link js-dropdown-link">{{ link }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endmacro %}

{% macro lazyImage(obj) %}
<img
  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
  data-src="{{ obj.src }}"
  data-srcset="{{ obj.srcset }}"
  alt="{{ obj.alt }}"
  class="lazyload {{ obj.class }}"
/>

{% endmacro %}


{% macro rating(obj) %}
<div class="rating {{ obj.mods }}">
    <ul class="rating__stars">
    {% for i in range(0, 5) %}
    <li class="rating__item">
      <div class="rating__star">
        <div class="rating__star-bg">
            {{ icon('star') }}
        </div>
        {% if (i + 1 <= obj.score) or ((obj.score - i - 1 < 0) and (obj.score - i - 1 > -1)) %}
        <div
          class="rating__star-score"
          {% if ((obj.score - i - 1 < 0) and (obj.score - i - 1 > -1)) %}
          style="width: {{ -1 * (obj.score - i - 1) * 100  }}%"
          {% endif %}
        >
          {{ icon('star') }}
        </div>
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
  <div class="rating__total">{{ obj.scoreText }}{% if obj.withTotals %}<span>/</span>5{% endif %}</div>
</div>
{% endmacro %}
