<!-- begin modal -->
<div class="modal js-modal" data-modal="main">
	<div class="modal__inner">
		<div class="modal__content">
      <div class="modal__body js-modal-body">
        <div class="modal__img">
          {{ mixins.lazyImage({
            src: 'img/modal.png',
            srcset: 'img/modal-2x.png 2x'
          }) }}
        </div>
        <div class="modal__text">
          <h2 class="h2 modal__title">Sed ut perspiciatis</h2>
          <div class="modal__desc">
            <p>Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, ut enim ad minima veniam, quis nostrum exercitationem ullam corporis.</p>
          </div>
          <div class="modal__form">
            <form action="/">
              <div class="modal__form-input">
                <input type="email" required placeholder="deine@email.com" />
              </div>
              <div class="modal__form-input">
                <input type="text" required placeholder="Name" />
              </div>
              <div class="modal__form-btn">
                <button type="submit" class="button">Ja, ich möchte!</button>
              </div>
            </form>
          </div>
        </div>

        <button type="button" class="modal__close-btn js-modal-close"></button>
      </div>
		</div>
	</div>
</div>
<!-- end modal -->
