{%
  set steps = [
    {
      title: 'Sed ut perspiciatis',
      tabs: [
        {
          title: 'Nemo enim',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        },
        {
          title: 'Die ipsam voluptatem',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        },
        {
          title: 'Ut enim ad minima',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
            </ol>
          '
        },
        {
          title: 'Quis autem vel',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        },
        {
          title: 'Sed ut perspiciatis',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        }
      ]
    },
    {
      title: 'Sed ut perspiciatis',
      tabs: [
        {
          title: 'Nemo enim',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        },
        {
          title: 'Die ipsam voluptatem',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        },
        {
          title: 'Ut enim ad minima',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        },
        {
          title: 'Quis autem vel',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        },
        {
          title: 'Sed ut perspiciatis',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        }
      ]
    },
    {
      title: 'Sed ut perspiciatis',
      tabs: [
        {
          title: 'Nemo enim',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        },
        {
          title: 'Die ipsam voluptatem',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        },
        {
          title: 'Ut enim ad minima',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        },
        {
          title: 'Quis autem vel',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        },
        {
          title: 'Sed ut perspiciatis',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        }
      ]
    },
    {
      title: 'Sed ut perspiciatis',
      tabs: [
        {
          title: 'Nemo enim',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        },
        {
          title: 'Die ipsam voluptatem',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        },
        {
          title: 'Ut enim ad minima',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        },
        {
          title: 'Quis autem vel',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        },
        {
          title: 'Sed ut perspiciatis',
          content: '
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
            <ol>
              <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium</li>
              <li>Doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore</li>
              <li>Fet enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
            </ol>
            <p><strong>Notice:</strong><br/>Dolorem ipsum, quia dolor sit amet consectetu</p>
          '
        }
      ]
    }

  ]
%}

<!-- begin section-steps -->
<section class="section-steps">
  <div class="container">
    <div class="section-steps__inner">
      <h2 class="h2 section-steps__title">How it works</h2>
      <h3 class="section-steps__subtitle">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h3>
      <div class="slider-steps">
        <div class="slider-steps__progress js-tab-slider-nav" data-slider="steps">
          {% for i in range(0, steps.length) %}
          <button type="button" class="slider-steps__point js-tab-slider-link">
            <span class="slider-steps__num">{{ i + 1 }}</span>
            <span class="slider-steps__text">Step {{ i + 1 }}</span>
          </button>
          {% endfor %}
        </div>

        <div class="swiper-container slider-steps__slider js-tab-slider" data-slider="steps">
          <div class="swiper-wrapper slider-steps__wrapper">
            {% for i in range(0, steps.length) %}
            <div class="swiper-slide steps-slide slider-steps__slide">
              <h4 class="h3 steps-slide__title">Step {{ i + 1 }}</h4>
              <h5 class="h2 steps-slide__subtitle">{{ steps[i].title }}</h5>
              <div class="steps-slide__tabs">
                <div class="nav-list steps-slide__tablinks js-tab-slider-nav" data-slider="steps-inner-{{ i }}">
                  <ul class="nav-list__inner">
                    {% for j in range(0, steps[i].tabs.length) %}
                    <li class="nav-list__item">
                      <button type="button" class="nav-list__link{% if not j %} is-active{% endif %}  js-tab-slider-link">{{ steps[i].tabs[j].title }}</button>
                    </li>
                    {% endfor %}
                </div>
                <div class="swiper-container steps-slide__tabcontents js-tab-slider"  data-slider="steps-inner-{{ i }}">
                  <div class="swiper-wrapper">
                    {% for tab in steps[i].tabs %}
                    <div class="swiper-slide steps-slide__tabcontent">{{ tab.content | safe }}</div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section-steps -->
