<!-- begin text-image -->
<section class="text-image {{ block.mods }}">
  <div class="container">
    <div class="text-image__inner">

      <div class="text-image__text">
        {% if block.text.title %}
          {% if block.primary %}
          <h1 class="h1 text-image__title wow fadeInUp">{{ block.text.title | safe }}</h1>
          {% else %}
          <h2 class="h2 text-image__title wow fadeInUp">{{ block.text.title | safe }}</h2>
          {% endif %}
        {% endif %}

        {% if block.text.text  %}
        <div class="text-image__text-inner  wow fadeInUp">
          {{ block.text.text | safe }}
        </div>
        {% endif %}

        {% if block.text.btn  %}
        <div class="text-image__btn  wow fadeInUp">
          <button type="button" class="button js-modal-link" data-modal="main">{{ block.text.btn }}</button>
        </div>
        {% endif %}

         {% if block.img.slides %}
          <div class="nav-list text-image__nav-list js-tab-slider-nav wow fadeInUp" data-slider="text-image">
            <ul class="nav-list__inner">
            {% for i in range(0, block.img.slides.length) %}
            <li class="nav-list__item">
              <button type="button" class="nav-list__link{% if not i %} is-active{% endif %}  js-tab-slider-link">{{ block.img.slides[i].title }}</button>
            </li>
            {% endfor %}
            </ul>
          </div>

         {% endif %}

      </div>

      <div class="text-image__image  wow fadeInUp">
        {% if block.img.bg %}
        <div class="text-image__image-bg">
          {{ mixins.lazyImage({
            src: block.img.bg
          }) }}
        </div>
        {% endif %}

        {% if block.img.img %}
        <div class="text-image__image-inner">
          {{ mixins.lazyImage({
            src: block.img.img.mob,
            srcset: block.img.img.desk + ' 2x',
            class: 'img-desk'
          }) }}
          {{ mixins.lazyImage({
            src: block.img.img.mob,
            class: 'img-mob'
          }) }}
        </div>
        {% endif %}

        {% if block.img.card %}
        <div class="card text-image__card  wow fadeInUp">
          <div class="card__header">
            <div class="card__icon">{{ mixins.icon('card-icon') }}</div>
            <div class="card__title">Notice</div>
          </div>
          <div class="card__body">
            <p>{{  block.img.card.text }}</p>
          </div>
        </div>
        {% endif %}


        {% if block.img.slides %}
          <div class="swiper-container text-image__slider js-tab-slider wow fadeInUp" data-slider="text-image">
            <div class="swiper-wrapper text-image__slides">
              {% for slide in  block.img.slides %}
              <div class="swiper-slide text-image__slide">
                <div class="text-image__slide-img">
                  {{ mixins.lazyImage({
                    src: slide.img.mob,
                    srcset: slide.img.desk + ' 2x',
                    class: 'img-desk'
                  }) }}
                  {{ mixins.lazyImage({
                    src: slide.img.mob,
                    class: 'img-mob'
                  }) }}

                  <div class="text-image__slide-bg">
                     {{ mixins.lazyImage({
                        src: slide.bg
                      }) }}
                  </div>
                </div>
                <div class="text-image__slide-desc">
                  {{ slide.text | safe }}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>

        {% endif %}
      </div>
    </div>
  </div>
</section>
<!-- end text-image -->
