{%
  set articles = [
    {
      imgSrc: 'img/landing-3/article-1.jpg',
      imgSrcset: 'img/landing-3/article-1-2x.jpg 2x',
      title: 'Disease detection, check up in the laboratory',
      text: 'In this case, the role of the health laboratory is very important to do a disease detection...'
    },
    {
      imgSrc: 'img/landing-3/article-2.jpg',
      imgSrcset: 'img/landing-3/article-2-2x.jpg 2x',
      title: 'Herbal medicines that are safe for consumption',
      text: 'Herbal medicine is very widely used at this time because of its very good for your health...'
    },
    {
      imgSrc: 'img/landing-3/article-3.jpg',
      imgSrcset: 'img/landing-3/article-3-2x.jpg 2x',
      title: 'Natural care for healthy facial skin',
      text: 'A healthy lifestyle should start from now and also for your skin health. There are some...'
    }
  ]
%}

<!-- begin articles -->
<section class="articles">
  <div class="container">
    <div class="articles__inner">

      <h2 class="h2 h2_center articles__title">Check out our latest article</h2>

      <div class="articles__slider">
        <div class="swiper-container articles-slider js-resp-slider">
          <div class="swiper-wrapper articles-slider__wrapper">
            {% for article in articles %}
            <div class="swiper-slide articles-slider__slide">
              <div class="articles-slider__preview">
                <div class="articles-slider__top">
                  <div class="articles-slider__img">
                    {{ mixins.lazyImage({
                      src: article.imgSrc,
                      srcset: article.imgSrcset
                    }) }}
                  </div>

                  <h3 class="articles-slider__title">{{ article.title }}</h3>
                  <div class="articles-slider__text">
                    <p>{{ article.text }}</p>
                  </div>
                </div>

                 <div class="articles-slider__more">
                  <a href="#" class="more-link"><span>Read more</span>{{ mixins.icon('arrow-right') }}</a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="articles__dots-top">
          {{ mixins.lazyImage({
            src: 'img/landing-3/dots.svg'
          }) }}
        </div>

        <div class="articles__bg">
          {{ mixins.lazyImage({
            src: 'img/landing-3/bg.svg'
          }) }}
        </div>
      </div>


      <div class="articles__btn">
        <a href="#" class="button">View all</a>
      </div>



      <div class="articles__dots-bottom">
        {{ mixins.lazyImage({
          src: 'img/landing-3/dots.svg'
        }) }}
      </div>
    </div>
  </div>
</section>
<!-- end articles -->
