<!-- begin form-subscribe -->
<div class="form-subscribe">
  <form action="">
    <div class="form-subscribe__inner">
      <div class="form-subscribe__input">
          <span>Email</span>
          <input
            type="email"
            placeholder="your@email.com"
            required
          />
      </div>
       <button
          type="submit"
          class="button button_primary button_big form-subscribe__btn"
        >Start tracking</button>
    </div>
  </form>
</div>
<!-- end form-subscribe -->
