<!-- begin get-started -->
<section id="get-started" class="get-started">
  <div class="container">
    <div class="get-started__inner">
       <h2 class="title-sm get-started__title">Get Started</h2>
        <h3 class="h2 get-started__subtitle">Start tracking your TV shows for free</h3>
        <div class="get-started__desk">
          <p>In order to start tracking your TV shows, all you have to do is enter your email address. Everything else will be taken care of by us. All you have to do is sit back, relax and enjoy your TV shows.</p>
        </div>

        <div class="get-started__form">
          {% include "partials/landing-2/_form-subscribe.html" %}
        </div>
    </div>
  </div>
</section>
<!-- end get-started -->
