.icon-card-icon {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-chevron-up {
  width: 1.67em;
  height: 1em;
  fill: initial;
}
.icon-mobile-vibration {
  width: 0.96em;
  height: 1em;
  fill: initial;
}
.icon-quote {
  width: 1.15em;
  height: 1em;
  fill: initial;
}
.icon-search-alt {
  width: 0.96em;
  height: 1em;
  fill: initial;
}
.icon-star {
  width: 1.07em;
  height: 1em;
  fill: initial;
}
.icon-user {
  width: 0.89em;
  height: 1em;
  fill: initial;
}
