.icon-arrow-left {
  width: 1.53em;
  height: 1em;
  fill: initial;
}
.icon-arrow-right {
  width: 1.67em;
  height: 1em;
  fill: initial;
}
.icon-calendar {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-card-icon {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-chat {
  width: 1.18em;
  height: 1em;
  fill: initial;
}
.icon-chevron-up {
  width: 1.67em;
  height: 1em;
  fill: initial;
}
.icon-dashboard {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-download {
  width: 0.69em;
  height: 1em;
  fill: initial;
}
.icon-facebook-alt {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-mobile-vibration {
  width: 0.96em;
  height: 1em;
  fill: initial;
}
.icon-night-mode {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-quote {
  width: 1.15em;
  height: 1em;
  fill: initial;
}
.icon-search-alt {
  width: 0.96em;
  height: 1em;
  fill: initial;
}
.icon-star {
  width: 1.07em;
  height: 1em;
  fill: initial;
}
.icon-twitter-alt {
  width: 1.19em;
  height: 1em;
  fill: initial;
}
.icon-user {
  width: 0.89em;
  height: 1em;
  fill: initial;
}
.icon-youtube-alt {
  width: 1.38em;
  height: 1em;
  fill: initial;
}
